.contact {
    position: absolute;
    top: 42%;
    left: 20%;
    padding: 20px;
    width: 61.4%;
    margin: auto;
    text-align: left;
    background: #212121;
    border-radius: 16px;
    color: #f9f9f9;
  }
  